@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ecf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
}
.container {
  width: 736px;
  height: 512px;
  background-color: white;
  border-radius: 32px;
  display: flex;
  overflow: hidden;
}
.left {
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  border-radius: 32px;
  padding: 38px 54px 55px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left > h2 {
  font-size: 24px;
  font-weight: 700;
  color: #cac9ff;
  margin-bottom: 35px;
}
.circle {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circle > h2 {
  font-size: 72px;
  font-weight: 800;
  color: white;
}
.circle > span {
  font-size: 18px;
  font-weight: 700;
  color: #8a80f4;
  margin-top: 4px;
}
.left > h3 {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-top: 28px;
  margin-bottom: 14px;
}
.left > p {
  font-size: 18px;
  font-weight: 500;
  color: #cac9ff;
  text-align: center;
}
.right {
  width: 50%;
  height: 100%;
  padding: 38px 40px 46px 40px;
}
.right > h2 {
  font-size: 24px;
  font-weight: 700;
  color: #303b59;
  margin-bottom: 28px;
}
.box {
  width: 100%;
  min-height: 50px;
  background-color: #fff6f6;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 17px 16px 16px 16px;
}
.variable {
  min-width: 10px;
  min-height: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.var {
  font-size: 18px;
  font-weight: 500;
  color: #ff5555;
}
.score {
  min-width: 10px;
  min-height: 10px;
}
.score-num {
  font-size: 18px;
  font-weight: 700;
  color: #303b59;
  margin-right: 8px;
}
.score-out-of {
  font-size: 18px;
  font-weight: 700;
  color: #9799a8;
}
